[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-Bcrypt = "*"
Flask-Caching = "*"
Flask-Login = "*"
Flask-WTF = "*"
PyMySQL = "*"
psutil = "*"
simplejson = "*"
python-dotenv = "*"
flask-assets = "*"
flask-compress = "*"
cssmin = "*"
jsmin = "*"

[dev-packages]
black = "==18.6b2"
pre-commit = "*"

[requires]
python_version = "3.6"
